<!DOCTYPE html>
<html>
<head>
	<title>Выбрать лагерь</title>

	<!--Meta-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	<!--Scripts-->
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/loadCamps.js"></script>
	<script type="text/javascript" src="js/search.js"></script>

	<!--Bootstrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	
	<!--Links-->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/camp.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
	<link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
</head>
<body>
	<!--Header-->
		
	<div class="header">
		<div class="logo"><a href="/"><img src="/img/logo.svg" alt="logo" style="width: auto; height: 40px;"></a></div>
		<div class="menu">
			<a class="menuitem" href="/about">О нас</a>
			<a href="/choose-camp" class="menuitem">Выбрать лагерь</a>
			<a href="/reviews" class="menuitem">Отзывы о лагерях</a>
			<a href="/contacts" class="menuitem">Контакты</a>
		</div>
		<form class="d-flex">
        	<input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
        	<button class="btn btn-anim" type="submit">Найти лагерь</button>
      	</form>
	</div>

		<!--Content-->
	<div class="content">
		<div class="pageTitle">Выбрать лагерь</div>
		<div class="about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti vitae, odit necessitatibus dolores, laborum enim ut voluptatibus ducimus, officiis fuga nemo ipsum minima inventore, id totam maxime. Similique mollitia perspiciatis ullam asperiores a libero, officiis impedit facere officia sequi accusantium ducimus quis suscipit earum fugiat? Dolor nihil maxime suscipit cum quasi molestias sint totam, excepturi iure veritatis dolore corrupti minus reprehenderit, numquam optio velit quas nisi quia consequuntur enim possimus sapiente. Iusto dolor expedita dolorem eveniet quo? Possimus magnam laudantium odit magni ipsa velit, vitae, aperiam expedita, ratione quas fugiat. Eius iusto deleniti eveniet magni omnis hic ipsum, recusandae, nihil!</div>
		<div class="camps">

			{{#each camps}}
			<form  action="/camp/{{this.id}}">
			<div class="card camp-card" style="width: 25rem;">
 	 			<img src="{{this.img_path}}" class="card-img-top" alt="...">
  				<div class="card-body">
					<input value="{{this.id}}" style="display:none;">
    				<h5 class="card-title">{{this.name}}</h5>
    				<p class="card-text">{{this.description}}</p>
    				<div class="city">Город: {{this.city}}</div>
    				<div class="price">Цена: {{this.price}}руб.</div>
					<button type="submit" class="btn btn-anim" style="margin-right:15px; margin-top:15px;">Подробнее</button>
				
    				<div class="btn btn-anim" style="margin-top:15px;" data-bs-toggle="modal" data-bs-target="#bookingModal" onclick="loadModal('{{this.name}}');document.getElementById('campId').value = '{{this.id}}'">Купить путёвку</div>
  				</div>
			</div>
			</form>
			{{/each}}
		</div>

	</div>
	<!-- Modal -->
	<form action="/new-booking" method="POST" >
		<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="bookingModalLabel">Покука путёвки</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div style="padding: 0.5rem;">
							<div class="modal-title" id="title">Лагерь: </div>
							<label for="surname">Фамилия ребёнка <span style="color: red;">*</span></label>
							<input 	type="text" class="form-control inpt" name="surname" id="surname" style="margin: 0.4rem;" required minlength="2">
							<label for="name">Имя ребёнка <span style="color: red;">*</span></label>
							<input 	type="text" class="form-control inpt" name="name" id="name" style="margin: 0.4rem;" required minlength="2">
							<label for="fathersName">Отчество ребёнка</label>
							<input 	type="text" class="form-control inpt" name="fathersName" id="fathersName" style="margin: 0.4rem;">
							<label for="document">Свидетельство о рождении / Паспорт <span style="color: red;">*</span></label>
							<input 	type="text" class="form-control inpt" name="document" id="document" style="margin: 0.4rem;">
							<label for="birthday">День рождения <span style="color: red;">*</span></label>
							<input 	type="date" class="form-control inpt" name="birthday" id="birthday" style="margin: 0.4rem;">
							<label for="contact-way">Способ связи <span style="color: red;">*</span><br></label>
							<select id="contact-way" class="form-select" name="contactWay" onchange="selectionChanged();">
								<option>Телефон</option>
								<option>E-mail</option>
								<option>Письмо</option>
							</select>
							<label for="contact"><span id="contactLabel">Контактная информация</span> <span style="color: red;">*</span></label>
							<input 	type="text" class="form-control inpt" name="contact" id="contact" style="margin: 0.4rem;">
							<label for="seasons">Сезон <span style="color: red;">*</span><br></label>
							<div id="seasons">
								{{#each seasons}}
									<label for="{{this.id}}" class="btn btn-primary btn-select" id="btn{{@index}}" onclick="activate('btn{{@index}}')">{{this.name}}</label>
									<input type="radio" name="season" id="{{this.id}}" style="display:none" value="{{this.id}}">	
								{{/each}}
							</div>
							<!--Hidden-->
							<input type="hidden" name="campId" id="campId">
							
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deactivate()">Отмена</button>
					<button type="submit" class="btn btn-primary">Добавить</button>
				</div>
				</div>
			</div>
		</div>
	</form>
	<!--Footer-->
	<div class="footer">
			<div class="logo footerLogo"><a href="/"><img src="/img/logo.svg" alt="logo" style="width: auto; height: 40px;"></a></div>
			<div class="copyright">© 2021 Copyright. Ne pizdit’.</div>
		</div>
		<script>
			let params = new URLSearchParams(location.search);
			if(params.get('result')){
				alert('Вы успешно купили путёвку');
			}
			let contactWay = new Map()	
			contactWay = new Map([
				['Телефон','Номер телефона'],
				['E-mail', 'E-mail'],
				['Письмо', 'Адрес']]
			)
			function selectionChanged(){
				document.getElementById('contactLabel').innerHTML = contactWay.get(document.getElementById('contact-way').value);
				console.log(contactWay[document.getElementById('contact-way').value]);
				console.log(document.getElementById('contact-way').value);
			}
			function loadModal(campName){
				document.getElementById('title').innerHTML = 'Лагерь: ' + campName;
			}
			function activate(btn){
				let but = document.getElementById(btn);
				let btns = document.getElementById('seasons');
				[...btns.children].forEach(el => {
					el.classList.remove('active');
				});
				if(but.classList.contains('active')){
					but.classList.remove('active');
				}
				else{
					but.classList.add('active');
				}
			}
			function deactivate(){
				let btns = document.getElementById('seasons');
				[...btns.children].forEach(el => {
					el.classList.remove('active');
				});
			}
		</script>
</body>
</html>